import(methods)
import(parallel)

exportClasses(Time,FcTime,ObsTime,Domain,Grid,LAMGrid,GaussGrid)

exportMethods("[","==",length,degrade,initialize,interpgrid,sectioncsgrid,sectiongeogrid,
	select,zonalmeangrid)

export(area,compass,csLongi,extendPoints,geoCoords,inDomain,interp,interpAB,pole,
	rangeLong,sectioncs,sectiongeo,stretch,zonalmean,zoom)
